{% extends 'base.html' %}

{% block content %}
<h1>Contact Page</h1>
<p>This is contact page!</p>

<p>
    {{ my_text }}, {{ my_number }}
</p><ul>
    {% for item in my_list %}
        {% if item == 2 %}
            <li>{{ forloop.counter }} -> {{ item|add:20 }}</li>
        {% elif item == 'text' %}
            <li>Invalid item</li>
        {% else %}
            <li>{{ forloop.counter }} -> {{ item }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</p>

{% endblock %}

{% block content_2 %}
<p>This the another block from contact</p>
{% endblock %}